--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4 (Debian 16.4-1.pgdg110+2)
-- Dumped by pg_dump version 16.4 (Debian 16.4-1.pgdg110+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO postgres;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO postgres;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO postgres;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


--
-- Name: accommodation_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.accommodation_type AS ENUM (
    'hotel',
    'villa',
    'resort',
    'hostel',
    'guesthouse',
    'homestay',
    'apartment',
    'glamping',
    'campground',
    'other'
);


ALTER TYPE public.accommodation_type OWNER TO postgres;

--
-- Name: entity_kind; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.entity_kind AS ENUM (
    'place',
    'accommodation'
);


ALTER TYPE public.entity_kind OWNER TO postgres;

--
-- Name: price_level; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.price_level AS ENUM (
    'free',
    'budget',
    'moderate',
    'expensive',
    'luxury'
);


ALTER TYPE public.price_level OWNER TO postgres;

--
-- Name: scrape_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.scrape_status AS ENUM (
    'pending',
    'extracted',
    'needs_review',
    'approved',
    'rejected',
    'duplicate'
);


ALTER TYPE public.scrape_status OWNER TO postgres;

--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN NEW.updated_at = now(); RETURN NEW; END;
$$;


ALTER FUNCTION public.set_updated_at() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accommodation_amenities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accommodation_amenities (
    accommodation_id bigint NOT NULL,
    amenity_id integer NOT NULL
);


ALTER TABLE public.accommodation_amenities OWNER TO postgres;

--
-- Name: accommodation_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accommodation_images (
    id bigint NOT NULL,
    accommodation_id bigint NOT NULL,
    url text NOT NULL,
    caption character varying(200),
    is_cover boolean DEFAULT false NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.accommodation_images OWNER TO postgres;

--
-- Name: accommodation_images_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.accommodation_images_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.accommodation_images_id_seq OWNER TO postgres;

--
-- Name: accommodation_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.accommodation_images_id_seq OWNED BY public.accommodation_images.id;


--
-- Name: accommodations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accommodations (
    id bigint NOT NULL,
    slug character varying(160) NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    type public.accommodation_type NOT NULL,
    star_class smallint,
    city_id integer NOT NULL,
    address text,
    location public.geography(Point,4326) NOT NULL,
    latitude double precision GENERATED ALWAYS AS (public.st_y((location)::public.geometry)) STORED,
    longitude double precision GENERATED ALWAYS AS (public.st_x((location)::public.geometry)) STORED,
    rating_avg numeric(2,1),
    rating_count integer DEFAULT 0 NOT NULL,
    price_per_night_min numeric(12,0),
    price_per_night_max numeric(12,0),
    price_level public.price_level,
    check_in_time time without time zone,
    check_out_time time without time zone,
    total_rooms integer,
    max_guests integer,
    phone character varying(30),
    website text,
    booking_url text,
    google_place_id character varying(100),
    is_hidden_gem boolean DEFAULT false NOT NULL,
    hidden_gem_score numeric(4,3),
    hidden_gem_reason text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    district_id integer,
    osm_ref character varying(30),
    enriched_at timestamp with time zone,
    CONSTRAINT accommodations_check CHECK ((price_per_night_max >= price_per_night_min)),
    CONSTRAINT accommodations_hidden_gem_score_check CHECK (((hidden_gem_score >= (0)::numeric) AND (hidden_gem_score <= (1)::numeric))),
    CONSTRAINT accommodations_price_per_night_min_check CHECK ((price_per_night_min >= (0)::numeric)),
    CONSTRAINT accommodations_rating_avg_check CHECK (((rating_avg >= (0)::numeric) AND (rating_avg <= (5)::numeric))),
    CONSTRAINT accommodations_star_class_check CHECK (((star_class >= 1) AND (star_class <= 5)))
);


ALTER TABLE public.accommodations OWNER TO postgres;

--
-- Name: accommodations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.accommodations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.accommodations_id_seq OWNER TO postgres;

--
-- Name: accommodations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.accommodations_id_seq OWNED BY public.accommodations.id;


--
-- Name: ai_extractions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_extractions (
    id bigint NOT NULL,
    raw_item_id bigint NOT NULL,
    model_name character varying(100) NOT NULL,
    prompt_version character varying(30),
    extracted_kind public.entity_kind,
    extracted_data jsonb NOT NULL,
    hidden_gem_score numeric(4,3),
    hidden_gem_reason text,
    confidence numeric(4,3),
    needs_review boolean DEFAULT true NOT NULL,
    promoted_place_id bigint,
    promoted_accommodation_id bigint,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ai_extractions_check CHECK (((promoted_place_id IS NULL) OR (promoted_accommodation_id IS NULL)))
);


ALTER TABLE public.ai_extractions OWNER TO postgres;

--
-- Name: ai_extractions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ai_extractions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_extractions_id_seq OWNER TO postgres;

--
-- Name: ai_extractions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ai_extractions_id_seq OWNED BY public.ai_extractions.id;


--
-- Name: amenities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.amenities (
    id integer NOT NULL,
    name character varying(80) NOT NULL
);


ALTER TABLE public.amenities OWNER TO postgres;

--
-- Name: amenities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.amenities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.amenities_id_seq OWNER TO postgres;

--
-- Name: amenities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.amenities_id_seq OWNED BY public.amenities.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name character varying(80) NOT NULL,
    slug character varying(80) NOT NULL
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: cities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cities (
    id integer NOT NULL,
    province_id integer NOT NULL,
    name character varying(100) NOT NULL,
    type character varying(20) DEFAULT 'kota'::character varying,
    boundary public.geography(MultiPolygon,4326)
);


ALTER TABLE public.cities OWNER TO postgres;

--
-- Name: cities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cities_id_seq OWNER TO postgres;

--
-- Name: cities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cities_id_seq OWNED BY public.cities.id;


--
-- Name: data_sources; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.data_sources (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    base_url text,
    notes text
);


ALTER TABLE public.data_sources OWNER TO postgres;

--
-- Name: data_sources_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.data_sources_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.data_sources_id_seq OWNER TO postgres;

--
-- Name: data_sources_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.data_sources_id_seq OWNED BY public.data_sources.id;


--
-- Name: districts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.districts (
    id integer NOT NULL,
    city_id integer NOT NULL,
    name character varying(100) NOT NULL,
    boundary public.geography(MultiPolygon,4326)
);


ALTER TABLE public.districts OWNER TO postgres;

--
-- Name: districts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.districts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.districts_id_seq OWNER TO postgres;

--
-- Name: districts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.districts_id_seq OWNED BY public.districts.id;


--
-- Name: place_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.place_images (
    id bigint NOT NULL,
    place_id bigint NOT NULL,
    url text NOT NULL,
    caption character varying(200),
    is_cover boolean DEFAULT false NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.place_images OWNER TO postgres;

--
-- Name: place_images_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.place_images_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.place_images_id_seq OWNER TO postgres;

--
-- Name: place_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.place_images_id_seq OWNED BY public.place_images.id;


--
-- Name: place_sources; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.place_sources (
    place_id bigint NOT NULL,
    source_id integer NOT NULL,
    source_url text,
    last_synced timestamp with time zone
);


ALTER TABLE public.place_sources OWNER TO postgres;

--
-- Name: place_tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.place_tags (
    place_id bigint NOT NULL,
    tag_id integer NOT NULL
);


ALTER TABLE public.place_tags OWNER TO postgres;

--
-- Name: places; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.places (
    id bigint NOT NULL,
    slug character varying(160) NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    category_id integer,
    city_id integer NOT NULL,
    address text,
    location public.geography(Point,4326) NOT NULL,
    latitude double precision GENERATED ALWAYS AS (public.st_y((location)::public.geometry)) STORED,
    longitude double precision GENERATED ALWAYS AS (public.st_x((location)::public.geometry)) STORED,
    rating_avg numeric(2,1),
    rating_count integer DEFAULT 0 NOT NULL,
    price_min numeric(12,0),
    price_max numeric(12,0),
    price_level public.price_level,
    opening_hours jsonb,
    phone character varying(30),
    website text,
    google_place_id character varying(100),
    is_hidden_gem boolean DEFAULT false NOT NULL,
    hidden_gem_score numeric(4,3),
    hidden_gem_reason text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    district_id integer,
    osm_ref character varying(30),
    enriched_at timestamp with time zone,
    CONSTRAINT places_check CHECK ((price_max >= price_min)),
    CONSTRAINT places_hidden_gem_score_check CHECK (((hidden_gem_score >= (0)::numeric) AND (hidden_gem_score <= (1)::numeric))),
    CONSTRAINT places_price_min_check CHECK ((price_min >= (0)::numeric)),
    CONSTRAINT places_rating_avg_check CHECK (((rating_avg >= (0)::numeric) AND (rating_avg <= (5)::numeric)))
);


ALTER TABLE public.places OWNER TO postgres;

--
-- Name: places_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.places_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.places_id_seq OWNER TO postgres;

--
-- Name: places_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.places_id_seq OWNED BY public.places.id;


--
-- Name: provinces; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.provinces (
    id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.provinces OWNER TO postgres;

--
-- Name: provinces_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.provinces_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.provinces_id_seq OWNER TO postgres;

--
-- Name: provinces_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.provinces_id_seq OWNED BY public.provinces.id;


--
-- Name: raw_scraped_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.raw_scraped_items (
    id bigint NOT NULL,
    run_id bigint NOT NULL,
    source_url text,
    raw_payload jsonb NOT NULL,
    content_hash character(64),
    status public.scrape_status DEFAULT 'pending'::public.scrape_status NOT NULL,
    scraped_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.raw_scraped_items OWNER TO postgres;

--
-- Name: raw_scraped_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.raw_scraped_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.raw_scraped_items_id_seq OWNER TO postgres;

--
-- Name: raw_scraped_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.raw_scraped_items_id_seq OWNED BY public.raw_scraped_items.id;


--
-- Name: scrape_runs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scrape_runs (
    id bigint NOT NULL,
    source_id integer NOT NULL,
    query text,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    finished_at timestamp with time zone,
    items_found integer DEFAULT 0
);


ALTER TABLE public.scrape_runs OWNER TO postgres;

--
-- Name: scrape_runs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.scrape_runs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.scrape_runs_id_seq OWNER TO postgres;

--
-- Name: scrape_runs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.scrape_runs_id_seq OWNED BY public.scrape_runs.id;


--
-- Name: tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tags (
    id integer NOT NULL,
    name character varying(60) NOT NULL
);


ALTER TABLE public.tags OWNER TO postgres;

--
-- Name: tags_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tags_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tags_id_seq OWNER TO postgres;

--
-- Name: tags_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tags_id_seq OWNED BY public.tags.id;


--
-- Name: accommodation_images id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodation_images ALTER COLUMN id SET DEFAULT nextval('public.accommodation_images_id_seq'::regclass);


--
-- Name: accommodations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodations ALTER COLUMN id SET DEFAULT nextval('public.accommodations_id_seq'::regclass);


--
-- Name: ai_extractions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_extractions ALTER COLUMN id SET DEFAULT nextval('public.ai_extractions_id_seq'::regclass);


--
-- Name: amenities id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.amenities ALTER COLUMN id SET DEFAULT nextval('public.amenities_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: cities id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cities ALTER COLUMN id SET DEFAULT nextval('public.cities_id_seq'::regclass);


--
-- Name: data_sources id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_sources ALTER COLUMN id SET DEFAULT nextval('public.data_sources_id_seq'::regclass);


--
-- Name: districts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.districts ALTER COLUMN id SET DEFAULT nextval('public.districts_id_seq'::regclass);


--
-- Name: place_images id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.place_images ALTER COLUMN id SET DEFAULT nextval('public.place_images_id_seq'::regclass);


--
-- Name: places id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.places ALTER COLUMN id SET DEFAULT nextval('public.places_id_seq'::regclass);


--
-- Name: provinces id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.provinces ALTER COLUMN id SET DEFAULT nextval('public.provinces_id_seq'::regclass);


--
-- Name: raw_scraped_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raw_scraped_items ALTER COLUMN id SET DEFAULT nextval('public.raw_scraped_items_id_seq'::regclass);


--
-- Name: scrape_runs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scrape_runs ALTER COLUMN id SET DEFAULT nextval('public.scrape_runs_id_seq'::regclass);


--
-- Name: tags id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tags ALTER COLUMN id SET DEFAULT nextval('public.tags_id_seq'::regclass);


--
-- Data for Name: accommodation_amenities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accommodation_amenities (accommodation_id, amenity_id) FROM stdin;
\.


--
-- Data for Name: accommodation_images; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accommodation_images (id, accommodation_id, url, caption, is_cover, sort_order) FROM stdin;
\.


--
-- Data for Name: accommodations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ai_extractions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ai_extractions (id, raw_item_id, model_name, prompt_version, extracted_kind, extracted_data, hidden_gem_score, hidden_gem_reason, confidence, needs_review, promoted_place_id, promoted_accommodation_id, created_at) FROM stdin;
\.


--
-- Data for Name: amenities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.amenities (id, name) FROM stdin;
1	WiFi
2	Pool
3	Breakfast
4	Parking
5	AC
6	Hot Water
7	Restaurant
8	Kitchen
9	Family Room
10	Pet Friendly
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name, slug) FROM stdin;
1	Waterfall	waterfall
2	Viewpoint	viewpoint
3	Cave	cave
4	Hot Spring	hot_spring
5	Camp Site	camp_site
6	Nature Reserve	nature_reserve
7	Crater	crater
8	Tea Plantation	tea_plantation
9	Other	other
10	Culinary	culinary
11	Culture & Museum	culture
12	Shopping	shopping
\.


--
-- Data for Name: cities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cities (id, province_id, name, type, boundary) FROM stdin;
1	1	Bandung	kota	\N
\.


--
-- Data for Name: data_sources; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.data_sources (id, name, base_url, notes) FROM stdin;
1	overpass_osm	https://overpass-api.de	\N
2	google_places	https://places.googleapis.com	\N
3	gemini_scoring	https://ai.google.dev	\N
\.


--
-- Data for Name: districts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: place_images; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.place_images (id, place_id, url, caption, is_cover, sort_order) FROM stdin;
\.


--
-- Data for Name: place_sources; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.place_sources (place_id, source_id, source_url, last_synced) FROM stdin;
\.


--
-- Data for Name: place_tags; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.place_tags (place_id, tag_id) FROM stdin;
\.


--
-- Data for Name: places; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: provinces; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.provinces (id, name) FROM stdin;
1	Jawa Barat
\.


--
-- Data for Name: raw_scraped_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: scrape_runs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.scrape_runs (id, source_id, query, started_at, finished_at, items_found) FROM stdin;
1	1	Kota Bandung places + accommodations	2026-09-30 09:14:51.059384+00	2026-09-30 09:14:51.059384+00	840
\.


--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: tags; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tags (id, name) FROM stdin;
\.


--
-- Data for Name: geocode_settings; Type: TABLE DATA; Schema: tiger; Owner: postgres
--

COPY tiger.geocode_settings (name, setting, unit, category, short_desc) FROM stdin;
\.


--
-- Data for Name: pagc_gaz; Type: TABLE DATA; Schema: tiger; Owner: postgres
--

COPY tiger.pagc_gaz (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_lex; Type: TABLE DATA; Schema: tiger; Owner: postgres
--

COPY tiger.pagc_lex (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_rules; Type: TABLE DATA; Schema: tiger; Owner: postgres
--

COPY tiger.pagc_rules (id, rule, is_custom) FROM stdin;
\.


--
-- Data for Name: topology; Type: TABLE DATA; Schema: topology; Owner: postgres
--

COPY topology.topology (id, name, srid, "precision", hasz) FROM stdin;
\.


--
-- Data for Name: layer; Type: TABLE DATA; Schema: topology; Owner: postgres
--

COPY topology.layer (topology_id, layer_id, schema_name, table_name, feature_column, feature_type, level, child_id) FROM stdin;
\.


--
-- Name: accommodation_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accommodation_images_id_seq', 1, false);


--
-- Name: accommodations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accommodations_id_seq', 386, true);


--
-- Name: ai_extractions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ai_extractions_id_seq', 1, false);


--
-- Name: amenities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.amenities_id_seq', 10, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 12, true);


--
-- Name: cities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cities_id_seq', 1, true);


--
-- Name: data_sources_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.data_sources_id_seq', 3, true);


--
-- Name: districts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.districts_id_seq', 30, true);


--
-- Name: place_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.place_images_id_seq', 1, false);


--
-- Name: places_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.places_id_seq', 436, true);


--
-- Name: provinces_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.provinces_id_seq', 1, true);


--
-- Name: raw_scraped_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.raw_scraped_items_id_seq', 840, true);


--
-- Name: scrape_runs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.scrape_runs_id_seq', 1, true);


--
-- Name: tags_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tags_id_seq', 1, false);


--
-- Name: topology_id_seq; Type: SEQUENCE SET; Schema: topology; Owner: postgres
--

SELECT pg_catalog.setval('topology.topology_id_seq', 1, false);


--
-- Name: accommodation_amenities accommodation_amenities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodation_amenities
    ADD CONSTRAINT accommodation_amenities_pkey PRIMARY KEY (accommodation_id, amenity_id);


--
-- Name: accommodation_images accommodation_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodation_images
    ADD CONSTRAINT accommodation_images_pkey PRIMARY KEY (id);


--
-- Name: accommodations accommodations_google_place_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodations
    ADD CONSTRAINT accommodations_google_place_id_key UNIQUE (google_place_id);


--
-- Name: accommodations accommodations_osm_ref_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodations
    ADD CONSTRAINT accommodations_osm_ref_key UNIQUE (osm_ref);


--
-- Name: accommodations accommodations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodations
    ADD CONSTRAINT accommodations_pkey PRIMARY KEY (id);


--
-- Name: accommodations accommodations_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodations
    ADD CONSTRAINT accommodations_slug_key UNIQUE (slug);


--
-- Name: ai_extractions ai_extractions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_extractions
    ADD CONSTRAINT ai_extractions_pkey PRIMARY KEY (id);


--
-- Name: amenities amenities_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.amenities
    ADD CONSTRAINT amenities_name_key UNIQUE (name);


--
-- Name: amenities amenities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.amenities
    ADD CONSTRAINT amenities_pkey PRIMARY KEY (id);


--
-- Name: categories categories_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_key UNIQUE (name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: categories categories_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_slug_key UNIQUE (slug);


--
-- Name: cities cities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT cities_pkey PRIMARY KEY (id);


--
-- Name: cities cities_province_id_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT cities_province_id_name_key UNIQUE (province_id, name);


--
-- Name: data_sources data_sources_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_sources
    ADD CONSTRAINT data_sources_name_key UNIQUE (name);


--
-- Name: data_sources data_sources_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_sources
    ADD CONSTRAINT data_sources_pkey PRIMARY KEY (id);


--
-- Name: districts districts_city_id_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.districts
    ADD CONSTRAINT districts_city_id_name_key UNIQUE (city_id, name);


--
-- Name: districts districts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.districts
    ADD CONSTRAINT districts_pkey PRIMARY KEY (id);


--
-- Name: place_images place_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.place_images
    ADD CONSTRAINT place_images_pkey PRIMARY KEY (id);


--
-- Name: place_sources place_sources_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.place_sources
    ADD CONSTRAINT place_sources_pkey PRIMARY KEY (place_id, source_id);


--
-- Name: place_tags place_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.place_tags
    ADD CONSTRAINT place_tags_pkey PRIMARY KEY (place_id, tag_id);


--
-- Name: places places_google_place_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.places
    ADD CONSTRAINT places_google_place_id_key UNIQUE (google_place_id);


--
-- Name: places places_osm_ref_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.places
    ADD CONSTRAINT places_osm_ref_key UNIQUE (osm_ref);


--
-- Name: places places_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.places
    ADD CONSTRAINT places_pkey PRIMARY KEY (id);


--
-- Name: places places_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.places
    ADD CONSTRAINT places_slug_key UNIQUE (slug);


--
-- Name: provinces provinces_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.provinces
    ADD CONSTRAINT provinces_name_key UNIQUE (name);


--
-- Name: provinces provinces_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.provinces
    ADD CONSTRAINT provinces_pkey PRIMARY KEY (id);


--
-- Name: raw_scraped_items raw_scraped_items_content_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raw_scraped_items
    ADD CONSTRAINT raw_scraped_items_content_hash_key UNIQUE (content_hash);


--
-- Name: raw_scraped_items raw_scraped_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raw_scraped_items
    ADD CONSTRAINT raw_scraped_items_pkey PRIMARY KEY (id);


--
-- Name: scrape_runs scrape_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scrape_runs
    ADD CONSTRAINT scrape_runs_pkey PRIMARY KEY (id);


--
-- Name: tags tags_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT tags_name_key UNIQUE (name);


--
-- Name: tags tags_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT tags_pkey PRIMARY KEY (id);


--
-- Name: idx_accom_city; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_accom_city ON public.accommodations USING btree (city_id);


--
-- Name: idx_accom_district; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_accom_district ON public.accommodations USING btree (district_id);


--
-- Name: idx_accom_location; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_accom_location ON public.accommodations USING gist (location);


--
-- Name: idx_accom_name_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_accom_name_trgm ON public.accommodations USING gin (name public.gin_trgm_ops);


--
-- Name: idx_accom_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_accom_type ON public.accommodations USING btree (type);


--
-- Name: idx_cities_boundary; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cities_boundary ON public.cities USING gist (boundary);


--
-- Name: idx_districts_boundary; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_districts_boundary ON public.districts USING gist (boundary);


--
-- Name: idx_places_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_places_category ON public.places USING btree (category_id);


--
-- Name: idx_places_city; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_places_city ON public.places USING btree (city_id);


--
-- Name: idx_places_district; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_places_district ON public.places USING btree (district_id);


--
-- Name: idx_places_gem; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_places_gem ON public.places USING btree (hidden_gem_score DESC) WHERE is_hidden_gem;


--
-- Name: idx_places_location; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_places_location ON public.places USING gist (location);


--
-- Name: idx_places_name_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_places_name_trgm ON public.places USING gin (name public.gin_trgm_ops);


--
-- Name: idx_raw_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_raw_status ON public.raw_scraped_items USING btree (status);


--
-- Name: accommodations trg_accom_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_accom_updated BEFORE UPDATE ON public.accommodations FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: places trg_places_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_places_updated BEFORE UPDATE ON public.places FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: accommodation_amenities accommodation_amenities_accommodation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodation_amenities
    ADD CONSTRAINT accommodation_amenities_accommodation_id_fkey FOREIGN KEY (accommodation_id) REFERENCES public.accommodations(id) ON DELETE CASCADE;


--
-- Name: accommodation_amenities accommodation_amenities_amenity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodation_amenities
    ADD CONSTRAINT accommodation_amenities_amenity_id_fkey FOREIGN KEY (amenity_id) REFERENCES public.amenities(id) ON DELETE CASCADE;


--
-- Name: accommodation_images accommodation_images_accommodation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodation_images
    ADD CONSTRAINT accommodation_images_accommodation_id_fkey FOREIGN KEY (accommodation_id) REFERENCES public.accommodations(id) ON DELETE CASCADE;


--
-- Name: accommodations accommodations_city_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodations
    ADD CONSTRAINT accommodations_city_id_fkey FOREIGN KEY (city_id) REFERENCES public.cities(id);


--
-- Name: accommodations accommodations_district_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodations
    ADD CONSTRAINT accommodations_district_id_fkey FOREIGN KEY (district_id) REFERENCES public.districts(id);


--
-- Name: ai_extractions ai_extractions_promoted_accommodation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_extractions
    ADD CONSTRAINT ai_extractions_promoted_accommodation_id_fkey FOREIGN KEY (promoted_accommodation_id) REFERENCES public.accommodations(id);


--
-- Name: ai_extractions ai_extractions_promoted_place_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_extractions
    ADD CONSTRAINT ai_extractions_promoted_place_id_fkey FOREIGN KEY (promoted_place_id) REFERENCES public.places(id);


--
-- Name: ai_extractions ai_extractions_raw_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_extractions
    ADD CONSTRAINT ai_extractions_raw_item_id_fkey FOREIGN KEY (raw_item_id) REFERENCES public.raw_scraped_items(id) ON DELETE CASCADE;


--
-- Name: cities cities_province_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT cities_province_id_fkey FOREIGN KEY (province_id) REFERENCES public.provinces(id);


--
-- Name: districts districts_city_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.districts
    ADD CONSTRAINT districts_city_id_fkey FOREIGN KEY (city_id) REFERENCES public.cities(id);


--
-- Name: place_images place_images_place_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.place_images
    ADD CONSTRAINT place_images_place_id_fkey FOREIGN KEY (place_id) REFERENCES public.places(id) ON DELETE CASCADE;


--
-- Name: place_sources place_sources_place_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.place_sources
    ADD CONSTRAINT place_sources_place_id_fkey FOREIGN KEY (place_id) REFERENCES public.places(id) ON DELETE CASCADE;


--
-- Name: place_sources place_sources_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.place_sources
    ADD CONSTRAINT place_sources_source_id_fkey FOREIGN KEY (source_id) REFERENCES public.data_sources(id);


--
-- Name: place_tags place_tags_place_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.place_tags
    ADD CONSTRAINT place_tags_place_id_fkey FOREIGN KEY (place_id) REFERENCES public.places(id) ON DELETE CASCADE;


--
-- Name: place_tags place_tags_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.place_tags
    ADD CONSTRAINT place_tags_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.tags(id) ON DELETE CASCADE;


--
-- Name: places places_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.places
    ADD CONSTRAINT places_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: places places_city_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.places
    ADD CONSTRAINT places_city_id_fkey FOREIGN KEY (city_id) REFERENCES public.cities(id);


--
-- Name: places places_district_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.places
    ADD CONSTRAINT places_district_id_fkey FOREIGN KEY (district_id) REFERENCES public.districts(id);


--
-- Name: raw_scraped_items raw_scraped_items_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raw_scraped_items
    ADD CONSTRAINT raw_scraped_items_run_id_fkey FOREIGN KEY (run_id) REFERENCES public.scrape_runs(id) ON DELETE CASCADE;


--
-- Name: scrape_runs scrape_runs_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scrape_runs
    ADD CONSTRAINT scrape_runs_source_id_fkey FOREIGN KEY (source_id) REFERENCES public.data_sources(id);


--
-- PostgreSQL database dump complete
--

